<html>


<head>
    <title>Dental Caries</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body style="background: #FFFFB0; align-content: center; align-items: center">
    <div class="container" style="background: #CDF7FF">
        <h2>
            Dental Caries
        </h2>
        <!-- <div class="container-fluid" style="background: #6B94B0"></div> -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="/" style="background: #9BC4E2">Active</a>
            </li>
        </ul>
        <section id="cover" class="min-vh-100" style="background: #9BC4E2">
            <div id="cover-caption">
                <div class="container">
                    <div class="row text-white">
                        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                            <h1><i class="far fa-frown fa-5x"></i></h1>
                            <br>
                            <br>
                            <div class="px-2">
                                <form action="" class="justify-content-center">
                                    <div class="form-group">
                                        <h3>Oh no!</h3>
                                        <h5>We found some caries on your teeth!</h5>
                                    </div>
                                    <div class="form-group" style="background: #6B94B0">
                                        <h4>Suggestions for you</h4>
                                        <br>
                                        <p>
                                            Sebelum karies pada gigi anda semakin parah sebaiknya:
                                        </p>
                                        <p>
                                            Kurangin makanan dan minuman manis
                                        </p>
                                        <p>
                                            Sikat gigi setelah makan
                                        </p>
                                        <p>
                                            Konsultasikan kepada dokter gigi agar mendapatkan penanganan lebih lanjut
                                        </p>
                                        <br>
                                    </div>
                                    <!-- <button type="submit" class="btn btn-primary btn-lg">back</button> -->
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <br>


    </div>
    <!-- <div class="container-fluid" style="background: #6B94B0"> -->

    </div>



</body>

</html>